.main-section {    
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #5BC0BE;
    text-align: center;
    border-bottom: 10px solid #1C2541;    
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-second {
    background-color: #000000;
    border-bottom: 10px solid #5BC0BE;
}

