.main-button {
    display: inline-block;
    background-color: #5BC0BE;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 rgb(14, 13, 13);
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.main-button:hover{
    transform: scale(1.08);
    background-color: #09c0bd;

}