.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2541;
    border-bottom: 10px solid #5BC0BE;
    padding: 10px 20px;

}

.main-header .logo {
        font-family: "Press Start 2P", sans-serif;
        color: #FFF;
        text-shadow: 5px 5px 0px #000;
    
}